<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_Pbkdf2>
            <version>0.2.0</version>
        </Ikonoshirt_Pbkdf2>
    </modules>
    <default>
        <ikonoshirt>
            <pbkdf2>
                <!-- http://csrc.nist.gov/publications/nistpubs/800-132/nist-sp800-132.pdf -->
                <!-- Iterations used for the PBKDF2 -->
                <iterations>10000</iterations>
                <!-- Used hash algo, checked agains hash_algos() -->
                <!-- http://de2.php.net/hash_algos -->
                <hash_algorithm>sha512</hash_algorithm>
                <!-- Length of the key saved in the database -->
                <!-- Attention! This is the binary value, the hex-string is two times that length! -->
                <key_length>256</key_length>
                <!-- Length of the salt used, >= 8 recommended -->
                <salt_length>16</salt_length>
                <!-- to avoid having the same salt in different applications/shops you can define a prefix -->
                <prefix>prefix</prefix>
                <!-- If you have a running shop, all password hashes of the user were encrypted with md5. -->
                <!-- You have to activate this option to check for the old hash too. -->
                <check_legacy_hash>1</check_legacy_hash>
            </pbkdf2>
        </ikonoshirt>
    </default>
    <global>
        <helpers>
            <core>
                <!-- Overwrite the Core Encryption Model -->
                <encryption_model>Ikonoshirt_Pbkdf2_Model_Stub_CE</encryption_model>
            </core>
            <ikonoshirt_pbkdf2>
                <class>Ikonoshirt_Pbkdf2_Helper</class>
            </ikonoshirt_pbkdf2>
        </helpers>
        <models>
            <ikonoshirt_pbkdf2>
                <class>Ikonoshirt_Pbkdf2_Model</class>
            </ikonoshirt_pbkdf2>
        </models>
        <resources>
            <pbkdf2_setup>
                <setup>
                    <module>Ikonoshirt_Pbkdf2</module>
                    <class>Ikonoshirt_Pbkdf2_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pbkdf2_setup>
        </resources>
        <events>
            <!-- replaces the customer passwords hashed the old way -->
            <customer_customer_authenticated>
                <observers>
                    <replace_md5_customer_passwords>
                        <type>singleton</type>
                        <class>ikonoshirt_pbkdf2/observer</class>
                        <method>customerCustomerAuthenticated</method>
                    </replace_md5_customer_passwords>
                </observers>
            </customer_customer_authenticated>
            <!-- replaces the admin passwords hashed the old way -->
            <admin_user_authenticate_after>
                <observers>
                    <replace_md5_admin_passwords>
                        <type>singleton</type>
                        <class>ikonoshirt_pbkdf2/observer</class>
                        <method>adminUserAuthenticateAfter</method>
                    </replace_md5_admin_passwords>
                </observers>
            </admin_user_authenticate_after>
            <!-- replaces the api keys hashed the old way -->
            <api_user_authenticated>
                <observers>
                    <replace_md5_api_passwords>
                        <type>singleton</type>
                        <class>ikonoshirt_pbkdf2/observer</class>
                        <method>apiUserAuthenticated</method>
                    </replace_md5_api_passwords>
                </observers>
            </api_user_authenticated>
            <!-- check wether EE or CE is installed and change the config-node -->
            <core_collection_abstract_load_before>
                <observers>
                    <addCustomOptionWhileEditing>
                        <type>singleton</type>
                        <class>ikonoshirt_pbkdf2/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </addCustomOptionWhileEditing>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Ikonoshirt_Pbkdf2/>
            </modules>
        </suite>
    </phpunit>
</config>
        