<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_Pbkdf2>
            <version>0.1.0</version>
        </Ikonoshirt_Pbkdf2>
    </modules>
    <default>
        <ikonoshirt>
            <pbkdf2>
                <!-- http://csrc.nist.gov/publications/nistpubs/800-132/nist-sp800-132.pdf -->
                <!-- Iterations used for the PBKDF2 -->
                <iterations>10000</iterations>
                <!-- Used hash algo, checked agains hash_algos() -->
                <!-- http://de2.php.net/hash_algos -->
                <hash_algorithm>sha512</hash_algorithm>
                <!-- Length of the key saved in the database -->
                <!-- Attention! This is the binary value, the hex-string is two times that length! -->
                <key_length>256</key_length>
                <!-- Length of the salt used, >= 8 recommended -->
                <salt_length>16</salt_length>
                <!-- If you have a running shop, all password hashes of the user were encrypted with PBKDF2. -->
                <!-- You have to activate this option to check for the old hash too. -->
                <check_legacy_hash>1</check_legacy_hash>
            </pbkdf2>
        </ikonoshirt>
    </default>
    <global>
        <helpers>
            <core>
                <!-- Overwrite the Core Encryption Model -->
                <encryption_model>Ikonoshirt_Pbkdf2_Model_Encryption</encryption_model>
            </core>
            <ikonoshirt_pbkdf2>
                <class>Ikonoshirt_Pbkdf2_Helper</class>
            </ikonoshirt_pbkdf2>
        </helpers>
        <models>
            <ikonoshirt_pbkdf2>
                <class>Ikonoshirt_Pbkdf2_Model</class>
            </ikonoshirt_pbkdf2>
        </models>
        <resources>
            <pbkdf2_setup>
                <setup>
                    <module>Ikonoshirt_Pbkdf2</module>
                    <class>Ikonoshirt_Pbkdf2_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pbkdf2_setup>
        </resources>
    </global>
</config>
        